<h1>{{ term }}</h1>
<div class="row">
  <label for="termino">Buscador de artistas</label>
  <input [(ngModel)]="term" (keyup)="search()" type="text" name="term" class="form-control" placeholder="Buscar artistas...">
  <br>
</div>
<div class="row">
  <div class="alert alert-info" role="alert" *ngIf="firstSearch && artists.length === 0">
    No se encontraron artistas con el término de búsqueda actual
  </div>
</div>
<br>
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-card *ngIf="!loading" [items]="artists"></app-card>
